<!DOCTYPE html>
<head>
</head>
<body ng-app="myApp">


    <!--<svg width="200" height="200">
      <circle cx="20" cy="20" r="5" fill="white" />
      <text x="40" y="30" font-family="sans-serif" font-size="18px" fill="white">This Data represents the call history from San Francisco's 311 Customer Service Center. These calls were taken and recorded on March 13th, 2016 between 12:00am and 12:00pm.  </text>
    </svg>-->

    <div class="com-md-3" >
        <center><h2>San Francisco 311 Customer Service Center </h2>
        <p>This Data represents the call history from San Francisco's 311 Customer Service Center. <br> These calls were taken and recorded on March 13th, 2016 between 12:00am and 12:00pm.</p>
        </center>
    </div>


    <form>
        <div style ="background-color:DarkBlue" >
            Select a Filter:
            <input type="radio" ng-model="myVar" value="category"> Category
            <input type="radio" ng-model="myVar" value="status"> Case Status
            <input type="radio" ng-model="myVar" value="agency"> Responsible Agency
            <input type="radio" ng-model="myVar" value="neighborhood"> Neighborhood
        </div>
    </form>
    <center>
        <div class="com-md-12" ng-switch="myVar">
            <div class="com-md-12" ng-switch-when="category">
                <h1>Category</h1>
                <p>The category of service calls over time. </p>
                <div class= "main" style= "background-color:White" ng-controller= "Category">
                    <nvd3 options='options' data='data'></nvd3>
                </div>
            </div>
            <div class="com-md-12" ng-switch-when="status">
                <h1>Status</h1>
                <p>The status of the case as of 3-13-2016 at 12:00pm.</p>
                <div class= "main" style= "background-color:White" ng-controller= "View1Ctrl">
                    <nvd3 options='options' data='data'></nvd3>
                </div>
            </div>
            <div class="com-md-12" ng-switch-when="agency">
                <h1>Responsible Agency</h1>
                <p>The agency responsible for servicing the request.</p>
                <div class= "main" style= "background-color:White" ng-controller= "Agency">
                    <nvd3 options='options' data='data'></nvd3>
                </div>
           </div>
            <div class="com-md-12" ng-switch-when="neighborhood">
                <h1>Neighborhood</h1>
                <p>The neighborhood from which the request came.</p>
                <div class= "main" style= "background-color:White" ng-controller= "Hood ">
                    <nvd3 options='options' data='data'></nvd3>
                </div>
            </div>
        </div>
    </center>


</body>
</html>
